.form-title {
  color: coral;
}
.package-from {
  max-width: 450px;
  /* background-color: rgba(7, 117, 136, 0.781); */
  background-color: rgb(235, 203, 203);
}
.btn-submit {
  background-color: rgb(252, 134, 92);
}
